DATABASE_URL="mysql://user:password@localhost:3306/f64"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="f64"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

NUXT_SESSION_PASSWORD=AT_LEAST_32_CHARS